@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
  --font-family: '';
  --signin-button-color: red;
  --btn-padding: 0.4rem 1rem;
  --bg-color: black;
  --bg-background: white;
  /* main page header using javascript side changable */
  --language-margin-left: 0px;
  --language-padding-top: 0px;
  --border-radius: 8px;
  --speed: 500ms;
}

.App {
  text-align: center;
}
.button {
  background-color: black;
  color: var(--bg-background);
  padding: var(--btn-padding);
  font-size: 1.2rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 0 rgb(0, 0, 0, 0.9);
  border-radius: 1.2rem;
  font-family: var(--font-family);
}
